.history/
.vscode/
__pycache__/

/活动统计/*.xlsx
/活动统计/模板/temp/*.xlsx
/请假条/*.xlsx
/请假条/模板/temp/*.xlsx

*.ini
/icons8_office_365.ico

# Package Files #
*.rar
*.pdf
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
# office 打开时生成的临时文件
~'$'*.docx